/* **************
  id="omsby"
 ************** */

$objectAnimateDuration: 3.2s;

#omsby {
  display: grid;
  place-items: center;
  background-color: #f8e9e3;


  h2 {
    color:transparent;
    font-size: 0.1rem;
    text-align:center;
    width:100%;
    height:auto;
    clear:both;
  } 

  p {
    text-align: center;
  }

  svg {
    float:left;
    display:inline;
    width:auto;
    height:auto;
    fill:#32312e;
    transform: scale(0.2);
  }

  @mixin svgAnimation($Signature) {
    animation-name: omsby_ + $Signature;
    animation-duration: $objectAnimateDuration;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  //  *****
  // **   **
  // **   **
  //  *****
  #O {
    @include svgAnimation("O");
    /*
    animation-name: omsby_O;
    animation-duration: $objectAnimateDuration;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    */
  }
  // 0-16fr
  @keyframes omsby_O{
    0% {transform: scale(0.01);}
    1% { transform: scale( 0.4, 0.35) translate(0%, -2%);}
    3% { transform: scale( 0.74, 0.55) translate(0%, -5%);}
    5% { transform: scale( 0.94, 1.04) translate(0%, -28%);}
    7% { transform: scale( 0.64, 0.84) translate(0%, -31%);}
    10%{ transform: scale(0.31, 0.36) translate(0%, -22%);}
    12%{ transform: scale(0.27, 0.22) translate(0%, -14%);}
    14%{ transform: scale(0.22, 0.2) translate(0%, -5%);}
    16%{ transform: scale(0.2, 0.2) translate(0%, 0%);}
    ////
    100%{transform: scale(0.2, 0.2) translate(0%, 0%);}
  }

  // **     **
  // ***   ***
  // ** *** **
  // **  *  **
  #M {
    @include svgAnimation("M");
    //animation-name: omsby_M;
    //animation-duration: $objectAnimateDuration;
    //animation-timing-function: linear;
    //animation-iteration-count: infinite;
  }
  //16-32
  @keyframes omsby_M {
    0%{
      transform: scale(0.2, 0.2);
    }
    15%{ transform: scale(0.2, 0.2) translate(0%, 0%);}
    ////
    16%{ transform: scale(0.52, 0.46) translate(0%, -2%);}
    18%{ transform: scale(0.68, 0.47) translate(0%, -5%);}
    20%{ transform: scale(0.94, 0.86) translate(0%, -31%);}
    22%{ transform: scale(0.99, 1.14) translate(0%, -33%);}
    24%{ transform: scale(0.88, 1.34) translate(0%, -36%);}
    26%{ transform: scale(0.64, 0.85) translate(0%, -24%);}
    27%{ transform: scale(0.54, 0.73) translate(0%, -18%);}
    29%{ transform: scale(0.44, 0.68) translate(0%, -16%);}
    30%{ transform: scale(0.31, 0.48) translate(0%, -11%);}
    31%{ transform: scale(0.25, 0.24) translate(0%, -8%);}
    ////
    32%{
      transform: scale(0.2, 0.2);
    }
    100% {
      transform: scale(0.2, 0.2);
    }

  }

  // ******
  // **
  // ******
  //     **
  // ******
  #S {
    @include svgAnimation("S");
  }
  // 32-48
  @keyframes omsby_S {
    0%{ transform: scale(0.2, 0.2);}
    31%{ transform: scale(0.2, 0.2);}
    32%{ transform: scale(0.21, 0.24);}
    ////
    33%{ transform: scale(0.28, 0.22) translate( 0%, -2%);}
    34%{ transform: scale(0.72, 0.47) translate( 0%, -6%);}
    35%{ transform: scale(0.89, 0.57) translate( 0%, -16%);}
    36%{ transform: scale(0.90, 1.17) translate( 0%, -34%);}
    38%{ transform: scale(0.81, 1.27) translate( 0%, -34%);}
    39%{ transform: scale(0.61, 0.93) translate( 0%, -22%);}
    40%{ transform: scale(0.51, 0.78) translate( 0%, -17%);}
    45%{ transform: scale(0.33, 0.44) translate( 0%, -9%);}
    47%{ transform: scale(0.28, 0.38) translate( 0%, -4%);}
    48%{ transform: scale(0.22, 0.25) translate( 0%, -2%);}
    ////
    49%{ transform: scale(0.2, 0.2) translate( 0%, 0%);}
    100%{transform: scale(0.2, 0.2);}

  }

  // *****
  // **  **
  // *****
  // **  ***
  // ******
  #B {
    @include svgAnimation("B");
  }
  // 48-64
  @keyframes omsby_B {
    0%{ transform: scale(0.2, 0.2);}
    ////
    48%{ transform: scale(0.2, 0.2) translate( 0%, 0%);}
    49%{ transform: scale(0.59, 0.34) translate( 0%, -18%);}
    51%{ transform: scale(0.72, 0.58) translate( 0%, -22%);}
    //63%{ transform: scale(0.92, 1.18) translate( 0%, -32%);}
    53%{ transform: scale(0.98, 1.33) translate( 0%, -35%);}
    56%{ transform: scale(0.89, 1.4) translate( 0%, -34%);}
    //69%{ transform: scale(0.67, 0.88) translate( 0%, -28%);}
    60%{ transform: scale(0.61, 0.73) translate( 0%, -26%);}
    61%{ transform: scale(0.53, 0.68) translate( 0%, -20%);}
    62%{ transform: scale(0.31, 0.5) translate( 0%, -13%);}
    63%{ transform: scale(0.26, 0.44) translate( 0%, -11%);}
    64%{ transform: scale(0.2, 0.2) translate( 0%, 0%);}
    ////
    100% {transform: scale(0.2, 0.2);}
  }

  // **   **
  //  ** **
  //   ***
  //   ***
  //   ***
  #Y {
    @include svgAnimation("Y");
  }
  // 64-80
  @keyframes omsby_Y {
    0%{ transform: scale(0.2, 0.2);}
    63%{ transform: scale(0.2, 0.2);}
    ////
    64%{ transform: scale(0.2, 0.2) translate( 0%, 0%);}
    65%{ transform: scale(0.44, 0.24) translate( 0%, -20%);}
    67%{ transform: scale(0.64, 0.44) translate( 0%, -25%);}
    69%{ transform: scale(0.73, 0.99) translate( 0%, -31%);}
    70%{ transform: scale(0.85, 1.04) translate( 0%, -34%);}
    72%{ transform: scale(0.91, 1.10) translate( 0%, -36%);}
    74%{ transform: scale(0.77, 0.91) translate( 0%, -28%);}
    76%{ transform: scale(0.68, 0.87) translate( 0%, -25%);}
    78%{ transform: scale(0.44, 0.61) translate( 0%, -13%);}
    79%{ transform: scale(0.23, 0.34) translate( 0%, -6%);}
    80%{ transform: scale(0.23, 0.34) translate( 0%, -6%);}
    ////
    100% {transform: scale(0.2, 0.2) translate( 0%, 0%);}
    ////
  }
}