@charset "UTF-8";

/*
  compile to style.css
*/

// Reset CSS
*,*::before,*::after{box-sizing:border-box}ul[class],ol[class]{padding:0}body,h1,h2,h3,h4,p,ul[class],ol[class],figure,blockquote,dl,dd{margin:0}html{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}ul[class],ol[class]{list-style:none}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}article>*+*{margin-top:1em}input,button,textarea,select{font:inherit}img:not([alt]){filter:blur(10px)}@media(prefers-reduced-motion:reduce){*{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

body{
  background-color: #000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  //font-family: 'Helvetica Neue', Helvetica, 'Open Sans', 'Hiragino Sans', 'ヒラギノ角ゴシック', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Arial, sans-serif;
  z-index: 1;
}

main {
  display: grid;
  place-items: center;
  width:100vw;
  //padding:5%;
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  z-index: 2;
}

section {
  position:sticky;
  top:0;
  width:100%;
  min-height: 100vh;
  scroll-snap-align: start;
  z-index: 3;
  p {
    font-size: 0.9rem;
    font-weight: 100;
  }

}
section:nth-of-type(even) {
  background-color: #5fadf2;
}

/* *********************
  *********************
  <section id="title">
  *********************
********************* */
#title {
  //position: relative;;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:5%;
  div {
    position:relative;
    top:0;left:0;
    width: 49%;
    height:60vh;
    //display: grid;
    //place-items: center;
    overflow: hidden;
    z-index: 4;
  }
  h2,p {
    color:#fff;
  }  
  div + div {
    h2 {
      font-size: 1.2rem;
      font-weight: normal;
      letter-spacing: 0.1rem;
      margin-bottom:1rem;
    }
    //border-left:1px solid #fff;
    padding-left:5%;

    &::before, &::after {
      display:block;
      position:absolute;
      top:0;
      left:0;
      width:1px;
      background-color: transparent;
      content:" ";
  
      animation-name: titleSectionBorder;
      animation-iteration-count: infinite;
  
      z-index: 100;
    }
    &::before {
      //animation-delay: 2s;
      height:90%;
      animation-duration: 10s;
    }
    &::after {
      animation-delay: 5s;
      height:90%;
      animation-duration: 10s;
    }
  }
}

@keyframes titleSectionBorder {
  0% { transform: translateY(-100%); background-color:#fff;}
  //25%{ transform: translatey(-50%);}
  //50%{ transform: translatey(0%);}
  //75%{ transform: translatey(50%);}
  100%{transform: translateY(110%);}
}

// Title & SVG Element
h1 {
  color: #fff;
  //color:#383838;
  font-weight: 100;
  letter-spacing: 0.05rem;
  text-align:center;

  svg {
    display:block;
    transform: scale(0.5);
    fill:#707c7e;

    polygon,path {
      //stroke-dasharray: 3500;
      //stroke-dashoffset: 0;
      //stroke-width: 1;
      animation-name: titleAnm;
      //animation-delay: 2s;
      animation-duration: 25s;
      animation-iteration-count: infinite;
    }

  }

}

//svg animation
@keyframes titleAnm {
  0% {
    fill: #fff;
    //stroke:#707c7e;
    //stroke-dashoffset: 800;
  }
  30% {
    fill:#a6edbc;
    //stroke:transparent;
    //stroke-dashoffset: 3500;
    //stroke:#d1d1d1;
  }
  50% {
    fill:#5fadf2;
    //stroke:#5fadf2;
    //stroke-dashoffset: 4000;
    //stroke-dashoffset: 2500;
  }
  60% {
    fill:#cbb3c9;
    //stroke:#0c243f;
    //stroke-dashoffset: 800;
    //stroke:#cbb3c9;
  }
  80% {
    //stroke:#d1d1d1;
    fill:#ef95ab;
    //stroke:#28415c;
  }
  100% {
    fill:#fff;
    //stroke:#707c7e;
    //stroke-dashoffset: 800;
  }
}


/* *********************
  *********************
  <section id="corporatesite2020">
  *********************
********************* */
$kon: #0c243f;
$siro:#fcfaf2;
$cha:#d99b75;
#corporatesite2020 {
  //position: relative;
  background-color:$kon;
  overflow: hidden;
  div {
    position:absolute;
    top:20%;
    left:5%;
    h2 {
      color:$siro;
      font-size:12rem;
      font-weight: 900;
      line-height:9rem;
      margin-bottom:2rem;
    }
    p{
      position:relative;
      top:0;left:0;
      color:$siro;
      padding-left:5%;
      line-height:5rem;
      a {
        position:absolute;
        top:0;
        left:50%;
        display: inline-block;
        color:$cha;
        font-size:5rem;
        font-weight: 100;
        outline: none;
        overflow: hidden;
        text-align: right;
        text-decoration: none;
        &::before{
          position: absolute;
          bottom:0;left:-100%;
          width:100%;
          height:1px;
          background-color: $cha;
          content:" ";
          transition-property: all;
          transition-duration: 500ms;
          transition-timing-function: ease-in;
        }
        &:hover::before{
          left:0;
        }

      }
    }
  }
}

/* *********************
  *********************
  <section id="engineers_demo_01">
  *********************
********************* */
#engineers_demo_01 {
  display: flex;
  flex-direction: row-reverse;
  background-color: #fff;
  .title {
    width:70%;
    height:100vh;
    background-color: #e472cb;
    padding:4%;
    h2 {
      color:#bfbfbf;
      font-size:8rem;
      line-height:7rem;
    }
    h3 {
      color:#e5e6bc;
      font-size: 2rem;
      font-weight: lighter;
      letter-spacing: 1px;
      line-height: 20rem;
      text-align: center;
    }
  }
  .link {
    width:30%;
    height:100vh;
    background-color: #fff;
    padding:2%;
    p,aside {
      display:grid;
      place-items: center;
      position:relative;
      top:0;left:0;
      width:100%;
      height:28%;
      background-color: #999999;
      color:#fff;
      margin-bottom:15%;
      padding:5%;
      a {
        display:inline-block;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate( -50%, -50%);
        width:101%;
        height:101%;
        background-color:#e472cb;
        outline: none;
        text-align: center;
        text-decoration: none;
          transition-property:all;
          transition-duration: 0.7s;
          transition-timing-function: ease-out;
        span {
          display:inline-block;
          height:50%;
          color:#fff;
          font-weight: 300;
          font-size: 2rem;
          letter-spacing: 1px;
          margin-top:25%;
        }
        &:hover {
          background-color: #fff;
          border-radius: 50%;
          span{
            color:#e472cb;
          }
        }
      }
    }
  }
}
