@charset "utf-8";

/* ******
 color palette set
 ****** */

// standard color set
$kon      :#0c243f; // dark navy
$rurikon  :#133466; // blight navy
$sirocha  :#b99d75; // brown like gold
$sironeri  :#fcfaf2; // off-white
$aotake    :#068468; // light green
$sora      :#58a9d0; // light blue
$yamabuki  :#f5ac26; // deep yellow
$kouhi     :#ea5a32; // deep orange
$ruri      :#0857a2; // dark blue
$edmurasaki   :#714086; // purple
$akabeni   :#c04040; // light red
$enji      :#993439; // dark red

// modified color set
$sirocha_transparent :rgba(185, 157, 116, 0.5);
$rurikon_transparent :rgba(#133466, 0.5);

// text shadow
$text_shadow_color:rgba(12, 36, 62, 0.8);
