@charset "utf-8";

//main:front_page-style.scss


/* *******
 font-size set
 ******* */

// main title
$mainFontSize:3.5rem;
//$mainFontSize:2.5rem;

// second title
$secondFontSize:1.2rem;

// third lebvel title
$thirdFontSize:0.9rem;

// normal sentence
$normalFontSize:0.8rem;

// small ... caption, comment ...
$smallFontSize:0.6rem;
