@charset "utf-8";

/* *****
Announcement Page Style
  ***** */

@import "font_variables";
@import "color_variables";

h2{
  color:$kon;
/*  font-size:$mainFontSize;
  font-weight: bold;
  margin-top:5%;
  padding-left:7%;*/
}

main {
  width:100%;
  padding-top:5%;
  padding-left: 5%;

    dl {
      position:relative;
      margin-top:5%;
      dt {
        display:block;
        color:$kon;
        margin-bottom:1.5rem;
        padding-right:5%;

        .date {
          display:inline-block;
          width:100%;
          font-size:$normalFontSize;
          font-weight:lighter;
          line-height:3rem;
        }
        .title{
          font-size:$secondFontSize;
          font-weight:bold;
        }

      }
      dd {
        display:grid;
          grid-template-columns: 4fr 6fr;
          column-gap: 1rem;
          row-gap: 1rem;
        color:$kon;
        //overflow-y:auto;

        .contentImg {
          width:100%;
          max-height:300px;
          img {
            width:100%;
            height:100%;
            background-color: rgba(84, 84, 84, 0.44);
            outline:none;
          }
        }

        .content {
          padding-top:1rem;
          padding: 0 0 1rem 1.5rem;
          * {
            font-size:$normalFontSize;
          }
          p {
            line-height: 1.2rem;
            margin-top:1rem;
            margin-bottom:1rem;
          }
          table {
            border-collapse: collapse;
            tr {
              margin-top:0.5rem;
            }
            tr:not(:nth-of-type(1)) {
              border-top: solid 1px $kon;
            }
            th,td {
              padding:0.5rem;
            }
          }
        } // .coontent

      } // dd

    } // dl


    li {
      padding:2%;
      margin-bottom:2rem;
  } // li
} // main

#loadmore {
  width:100%;
  height:5rem;
  margin:10% auto;
  text-align: center;
}
