@charset "utf-8";

@import "color_variables";
@import "font_variables";

article {
  margin-bottom:8%;
}

h2{
  color:$kon;
  font-size:$mainFontSize;
  font-weight: bold;
  margin-top:5%;
  margin-bottom:5%;
  padding-left:7%;
}

h3 {
  position:relative;
  color:$kon;
  font-size:$secondFontSize;
  font-weight: bold;
  margin-bottom:2%;
  padding-left:7%;
}
h3::before {
  position:absolute;
  bottom:-1rem;
  left:5%;
  display:inline-block;
  content:" ";
  width:10%;
  height:0.3rem;
  background-color: $sirocha;
//  margin-left: -2%;
}

h4 {
  color:$kon;
}


@mixin contentSizeFixed() {
  width:85%;
  padding-left: 9%;
}

#companyProfile {

  .wrapper {
    @include contentSizeFixed();
    display:grid;
    grid-template-columns: 5fr 6fr;
  }

  .wrapper-left {

    display:grid;
/*    grid-template-areas:  "s_name     plnt_name     history"
                          "s_address  plnt_address  history"
                          "s_contact  plnt_contact  history"
                          "s_founding plnt_founding  history"
                          "s_establishment plnt_establishment  history"
                          "s_capital  plnt_capital  history"
                          "s_ceo      plnt_ceo  history"
                          "s_description plnt_description  history"
                          "s_permission  plnt_permission   history"
                          "s_staffs   plnt_staffs   history";*/
    grid-template-areas:  "s_name     plnt_name"
                          "s_address  plnt_address"
                          "s_contact  plnt_contact"
                          "s_founding plnt_founding"
                          "s_establishment plnt_establishment"
                          "s_capital  plnt_capital"
                          "s_ceo      plnt_ceo"
                          "s_description plnt_description"
                          "s_permission  plnt_permission"
                          "s_staffs   plnt_staffs";
    grid-template-columns: 4fr 6fr;
    grid-template-rows: auto;
    column-gap: 1rem;
    row-gap: 1.2rem;
    //border:solid 1px $rurikon_transparent;
    margin-top:4%;

    h4 {
      font-size:$normalFontSize;
      text-align:right;
      min-height:1.2rem;
      line-height:1.4rem;
      padding-right:3%;
    }
    div:not(#history) {
      min-height:1.2rem;
      //border-top: solid 1px $rurikon_transparent ;
      border-left:solid 1px $rurikon_transparent;
      padding-left: 3%;
      span {
        display:inline-block;
        color:$kon;
        font-size:$normalFontSize;
      }
    }
      .s_name { grid-area:s_name;          height:1.5rem;}
      .plnt_name {    grid-area:plnt_name; height:1.5rem;}
      .s_address {    grid-area:s_address; height:1.5rem; }
      .plnt_address { grid-area:plnt_address; height:1.5rem;}
      .s_contact {    grid-area:s_contact;}
      .plnt_contact { grid-area:plnt_contact;}
      .s_founding {   grid-area:s_founding;}
      .plnt_founding {grid-area:plnt_founding;}
      .s_establishment {    grid-area:s_establishment;}
      .plnt_establishment { grid-area:plnt_establishment;}
      .s_capital {    grid-area:s_capital;}
      .plnt_capital { grid-area:plnt_capital;}
      .s_ceo {        grid-area:s_ceo;}
      .plnt_ceo {     grid-area:plnt_ceo;}
      .s_description {grid-area:s_description;}
      .plnt_description {   grid-area:plnt_description;}
      .s_permission { grid-area:s_permission;}
      .plnt_permission {    grid-area:plnt_permission;}
      .s_staffs {     grid-area:s_staffs;}

      .contactInformation {
        span {
          span {
            min-width:4rem;
            margin-right:1rem;
            text-align: right;
          }
        }
      }
      .businessDescription {
        span {
          display:inline-block;
          min-width:23%;
          margin-bottom:0.5rem;
        }
      }
      .permissionFor {
        * {
          color:$kon;
          font-size:$normalFontSize;
        }
        dt {
          line-height: 1.2rem;
          margin-bottom:1%;
        }
        dd {
          margin-bottom:2%;
        }
        ul {
          display:flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
        }
        li {
          display:inline-block;
          min-width:23%;
          margin-bottom:1%;
        }
      }

    } // .wrapper-left

  #history {
    position: relative;
    h4 {
      margin: 1rem 0 1rem 0;
      padding-left:2%;
      text-align: left !important;
    }
    dl {
      position: absolute;
      top:10%;
      left:2%;
      max-width:100%;
      max-height:90%;
      overflow-y: auto;
      padding-right:5%;
    }
      dt, dd {
        display:block;
        color:$kon;
        font-size: $smallFontSize;
      }
      dt {
        font-weight: bold;
      }
      dd {
        font-weight: lighter;
        line-height:1rem;
        margin-bottom:0.8rem;
      }
  } // history

} // companyProfile

#concept {
  .wrapper {
    @include contentSizeFixed();
    color:$kon;
    margin-bottom:5%;
    padding-top:3%;

    h4 {
      font-size:$mainFontSize;
      line-height:4rem;
    }
    h4:not(:nth-of-type(1)) {
      margin-top:4%;
    }
    h5 {
      font-size:$secondFontSize;
      line-height:1.5rem;
      margin-top:2%;
    }
    p {
      width:85%;
      font-size:$normalFontSize;
      line-height:1.1rem;
      padding: 2% 0;
    }
  }
}

/* ***
  Introduction Members
 *** */
#members {
  .wrapper {
    @include contentSizeFixed();
    color:$kon;
    margin-bottom:5%;
    padding-top:3%;
  }
  dl {
    color:$kon;
    dt {
      color:inherit;
      font-size:$secondFontSize;
      font-weight: normal;
    }
    dd {
      color:inherit;
      font-size:$normalFontSize;
      font-weight: lighter;
    }
  }
}
